/Calibration/fotos
/Calibration/fotos_warp

/Calibration/imagen_actual.png
/Calibration/imagen_anterior.png

.idea

/Calibration/parameters/transformation_matrix.yaml
/Calibration/parameters/intrinsic_parameters.yaml
app.py