/Calibration/fotos
/Calibration/fotos_warp

/Calibration/imagen_actual.png
/Calibration/imagen_anterior.png

.idea

/Calibration/transformation_matrix.yaml
/Calibration/intrinsic_parameters.yaml
app.py